
 .frontend {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid purple;
    border-radius: 9px;
    padding: 20px;
    margin: 30px;
    
  }

  .card-head {
    color:rgb(217, 8, 217);
    padding: 20px ;
    font-size: 24px;
  }

  .card-body {
    padding: 20px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    margin-bottom: 10px;
  }
/* YourComponent.css */
.your-component {
  opacity: 0;
  transform: translateY(50px);
  /* Start position off-screen */
  transition: opacity 2s ease, transform 2s ease;
}

.your-component.slide-in {
  opacity: 1;
  transform: translateY(0);
  /* End position, sliding in from the top */
}