.projects {
    padding-top: 50px;
    background-color: rgb(44, 1, 44);

}

/* YourComponent.css */
.your-component {
    opacity: 0;
    transform: scale(0.8);
    /* Start with a smaller scale (zoom-out) */
    transition: opacity 2s ease, transform 2s ease;
}

.your-component.zoom-in {
    opacity: 1;
    transform: scale(1);
    /* End with the original scale (zoom-in) */
}
