
.heading {
    color: white;
}

.heading-name {
    color: white;
}

strong {
    color: rgb(216, 19, 216);
}

.type {
    color: rgb(216, 19, 216);
    font-size: xx-large;
}

.purple {
    color: rgb(216, 19, 216);

}

.home2 {
    margin-top: 50px;
    color: white;
}

.home-about-social-links {
    display: flex;
    justify-content: center;
}

.social-icons {
    margin-top: 20px;
    margin-right: 55px;
    font-size: xx-large;

}

.findMe {
    margin-top: 50px;
}