@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

.App {
  margin: 0;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgb(27 20 41), rgb(20 15 35)) !important;
  color: white;
  text-align: center;
  margin-top: 63px;
  width: 100%;
  height: 100%;
}

.wave {
  display: inline-block;
  animation-name: wave-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(20deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* Add this CSS to your stylesheet */
.tech-card {
  border: none; /* Remove the card border */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  font-size: 50px;
}

.tech-icons-row .tech-icons {
  text-align: center;
  padding: 10px;
  transition: transform 0.2s; /* Add a smooth transition effect */
}

.tech-icons-row .tech-icons:hover {
  transform: scale(1.1); /* Scale the icon on hover */
}
