@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

.App {
  margin: 0;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgb(27 20 41), rgb(20 15 35)) !important;
  color: white;
  text-align: center;

}

.tech-card {
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 50px;
}

.tech-icons-row .tech-icons {
  text-align: center;
  padding: 10px;
  transition: transform 0.2s;
}

.tech-icons-row .tech-icons:hover {
  transform: scale(1.1);
}

/* Define CSS classes for the "page" transition */
.page-enter {
  opacity: 0;
  transform: translateY(20px);
}

.page-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 300ms, transform 300ms;
}

